.Layout__main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1110px;
  margin: auto;
}
.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
